[Unit]
Description=Smart AC Raspberry Edge Gateway
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/smart_ac/raspberry
ExecStart=/usr/bin/python3 /home/pi/smart_ac/raspberry/edge_gateway.py
Restart=always
RestartSec=5
Environment=SERIAL_PORT=/dev/ttyUSB0
Environment=CAMERA_INDEX=0
Environment=FACE_CHECK_INTERVAL_SECONDS=10
Environment=PRESENCE_CLEAR_SECONDS=30
Environment=NO_PERSON_TIMEOUT_SECONDS=300
Environment=MQTT_HOST=588b45b14a3644ab9b3d9b8f040f1f8d.s1.eu.hivemq.cloud
Environment=MQTT_PORT=8883
Environment=MQTT_USERNAME=esp32_sensor
Environment=MQTT_PASSWORD=Esp32gacor

[Install]
WantedBy=multi-user.target
